@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silk";
  src: url("../public/fonts/Silk/Silk.otf");
}

@font-face {
  font-family: "Galano";
  src: url("../public/fonts/Galano/Galano.otf");
}

@layer components {
  body {
    @apply bg-gradient-to-r from-gray to-darkGray text-primary selection:bg-primary selection:text-darkGray overflow-x-hidden;
  }
  .navbar-item {
    @apply hover:text-white hover:font-medium hover:underline decoration-teal-500 transition-all duration-200;
  }
  .navbar-logo {
    @apply uppercase text-3xl font-galano after:content-['.'] after:text-teal-500 after:text-5xl;
  }
  .shape {
    @apply absolute bottom-0 left-0 w-screen overflow-hidden leading-[0] -z-10;
  }

  .shape svg {
    position: relative;
    display: block;
    width: calc(234% + 1.3px);
    height: 178px;
  }
}
